@import url(//fonts.googleapis.com/earlyaccess/notosanstc.css);
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,700");
@import url(//fonts.googleapis.com/earlyaccess/notosanstc.css);
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,700");
table {
  border-collapse: collapse;
  border-spacing: 0;
}

fieldset, img {
  border: 0;
}

address, caption, cite, code, dfn, em, strong, th, var, b {
  font-weight: normal;
  font-style: normal;
}

ol, ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

caption, th {
  text-align: left;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  font-size: 100%;
}

q:before, q:after {
  content: "";
}

abbr, acronym {
  border: 0;
}

a {
  text-decoration: none;
}

input, button, textarea, select, option {
  font-family: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
}

textarea:focus, input:focus {
  outline: none;
}

.nav {
  position: absolute;
  font-size: 14px;
  top: 1%;
  right: 50px;
  z-index: 5;
}

.nav ul {
  text-align: right;
}

.nav ul li {
  display: inline-block;
  margin: 0 4px;
  cursor: pointer;
  overflow: hidden;
  position: relative;
}

.nav ul li:before {
  width: 0%;
  height: 100%;
  content: '';
  display: block;
  position: absolute;
  background-color: #a1dfe6;
  z-index: -1;
  top: 0;
  left: 0;
  -webkit-transition: all .25s ease-out;
  transition: all .25s ease-out;
}

.nav ul li:hover:before {
  width: 100%;
}

.nav ul li a {
  padding: 4px 6px;
  display: block;
  color: #303030;
}

.nav-ham {
  display: none;
}

@media only screen and (max-width: 414px) {
  .nav {
    width: 100%;
    height: 100vh;
    top: 0;
    right: -100%;
    position: fixed;
    background-color: #fff;
    -webkit-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
  }
  .nav ul {
    text-align: center;
    width: 100%;
    position: relative;
    top: 25%;
  }
  .nav ul li {
    display: block;
    margin: 10px 0;
    text-align: center;
    width: 100%;
  }
  .nav ul li a {
    padding: 20px 0;
  }
  .nav-ham {
    display: block;
    width: 44px;
    height: 44px;
    position: fixed;
    top: 20px;
    right: 20px;
    cursor: pointer;
    background-color: rgba(233, 233, 233, 0.8);
  }
  .nav-ham span {
    width: 38px;
    height: 2px;
    background-color: #303030;
    display: block;
    margin-bottom: 12px;
    -webkit-transition: all 0.35s ease-out;
    transition: all 0.35s ease-out;
  }
  .nav-ham span:nth-child(1) {
    margin-top: 6px;
    margin-left: 3px;
  }
  .nav-ham span:nth-child(2) {
    width: 28px;
    margin-left: 13px;
  }
  .nav-ham span:nth-child(3) {
    width: 32px;
    margin-left: 9px;
  }
  .nav.active {
    right: 0;
  }
  .nav.active ul li:before {
    height: 2px;
    top: auto;
    bottom: 0;
  }
  .nav.active .nav-ham span:nth-child(1) {
    -webkit-transform: rotate(-135deg);
            transform: rotate(-135deg);
    margin-top: 21px;
  }
  .nav.active .nav-ham span:nth-child(2) {
    width: 38px;
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg);
    margin-top: -13px;
    margin-left: 3px;
  }
  .nav.active .nav-ham span:nth-child(3) {
    opacity: 0;
    margin-top: -12px;
  }
}

.footer {
  text-align: center;
  position: fixed;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  bottom: 0;
  font-size: 14px;
  z-index: 5;
  padding: 8px 10px;
  background-color: #fff;
}

.footer-trigger {
  width: 100%;
  display: inline-block;
  cursor: pointer;
}

.footer-trigger i {
  display: block;
  -webkit-transition: all .3s ease-in;
  transition: all .3s ease-in;
}

.footer-show {
  margin-top: 20px;
}

.footer-show-info {
  margin-bottom: 10px;
}

.footer-show-info li:nth-child(2) {
  cursor: pointer;
}

.footer-show-info li:nth-child(2) i.svgimg {
  width: 214px;
  display: inline-block;
  height: 22px;
  background: url("../img/email.svg") 50% 4px no-repeat;
}

.footer-show-info li:nth-child(2) span.ps {
  color: #a3a3a3;
  font-size: 12px;
  letter-spacing: 1px;
  line-height: 1;
  display: block;
}

.footer-show-info li:nth-child(2) span.alert {
  color: #F31436;
}

.footer-show-cy {
  font-size: 12px;
  color: #a3a3a3;
}

.footer.active {
  background-color: rgba(255, 255, 255, 0.9);
}

.footer.active .footer-trigger i {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  line-height: 1.5;
  font-family: "Open Sans", sans-serif, "Noto Sans TC", serif, "Microsoft JhengHei", \5FAE\8EDF\6B63\9ED1\9AD4, PMingLiU, \65B0\7D30\660E\9AD4, sans-serif;
  font-size: 16px;
  color: #303030;
}

.wrapper {
  width: 100%;
  margin: 0 auto;
  min-height: 100%;
  height: 100%;
  position: relative;
  padding: 50px 50px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-animation: wrapPaddingZero .35s forwards .25s ease-out;
          animation: wrapPaddingZero .35s forwards .25s ease-out;
}

@media only screen and (max-width: 768px) {
  .wrapper {
    padding: 30px;
  }
}

@media only screen and (max-width: 414px) {
  .wrapper {
    padding: 15px;
  }
}

@-webkit-keyframes wrapPaddingZero {
  0% {
    padding: 50px;
  }
  100% {
    padding: 0;
  }
}

@keyframes wrapPaddingZero {
  0% {
    padding: 50px;
  }
  100% {
    padding: 0;
  }
}

.main {
  position: relative;
  background-color: #eee;
  width: 100%;
  margin: 0 auto;
  min-height: 100%;
  padding: 7vh 3vw;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.main h2 {
  font-size: 2.5vw;
  margin: 10px 0 20px;
}

.main h3 {
  font-size: 1.75vw;
  margin: 0 0 10px;
  background-color: #fff;
		padding: 8px 12px;
}

.main h4 {
  color: #3abab3;
  font-size: 16px;
  position: relative;
  margin: 0;
  font-weight: 500;
}

.main h4:before {
  display: inline-block;
  content: '';
  width: 10px;
  height: 10px;
  background-color: #3abab3;
  margin-right: 10px;
}

.main h4 span {
  color: #a3a3a3;
  font-size: 14px;
}

@media only screen and (max-width: 768px) {
  .main h2 {
    font-size: 5vw;
  }
  .main h3 {
    font-size: 3vw;
  }
}

@media only screen and (max-width: 414px) {
  .main h2 {
    font-size: 6.4vw;
  }
  .main h3 {
    font-size: 5.2vw;
    font-weight: bold;
  }
}

.about-group {
  padding: 3vw 3.5vw;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 2%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.about-intro {
  width: 60%;
  font-size: 14px;
  float: left;
  line-height: 2;
}

.about-intro > span {
  border-bottom: 1px dotted #a3a3a3;
}

.about-intro a {
  color: #F31436;
  margin: 0 2px;
}

.about-intro-info {
  position: relative;
  margin-top: 50px;
}

.about-intro-info:after {
  display: block;
  content: '';
  position: absolute;
  top: -4px;
  left: 0;
  width: 80px;
  height: 1px;
  background-color: #a3a3a3;
}

.about-me {
  width: 30%;
  height: auto;
}

.about-me img {
  width: 100%;
  border: 1px solid #ccc;
}

.about-exp {
  width: 100%;
  font-size: 14px;
  margin-top: 50px;
}

.about-exp_job > div {
  margin-bottom: 20px;
}

.about-exp_job .webCompany {
  color: #3abab3;
}

.about-exp_job .webCompany span {
  color: #a3a3a3;
}

.about-exp_job ul {
  list-style: disc;
  padding-left: 20px;
}

.about-exp_job ul > li {
  margin-bottom: 10px;
}

.about-exp_job ul > li span {
  display: block;
}

.about:after {
  clear: both;
  content: "";
  display: table;
}

@media only screen and (max-width: 768px) {
  .about-intro {
    width: 56%;
    padding-bottom: 5vw;
  }
  .about-me {
    width: 40%;
  }
}

@media only screen and (max-width: 414px) {
  .about-group {
    display: block;
  }
  .about-intro {
    width: 100%;
    margin-top: 20px;
  }
  .about-me {
    width: 100%;
    height: 83.2vw;
    overflow: hidden;
  }
}

.works-group {
  padding: 3vw 3.5vw;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.works-tab li {
  display: inline-block;
  font-size: 14px;
  margin: 0;
  margin-right: 20px;
  padding: 2px 0px;
  color: #969696;
  cursor: pointer;
}

.works-tab li.now {
  color: #303030;
  border-bottom: 1px solid #3abab3;
}

.works-box {
  margin-top: 30px;
  width: 100%;
  position: relative;
}

.works-box-cont {
  width: 100%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.works-box-cont.graphic .item {
  width: 30%;
}

.works-box-cont .item {
  position: relative;
  float: left;
  width: 15%;
  margin: 0 0.8% 20px;
}

.works-box-cont .item-thumbnail {
  width: 100%;
  height: 0;
  padding-bottom: 75%;
  padding-bottom: calc(75% - 2px);
  position: relative;
  border: 1px solid #ccc;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow: hidden;
  background-color: #fff;
}

.works-box-cont .item-thumbnail:after {
  width: 100%;
  position: absolute;
  padding-bottom: 75%;
  background: rgba(0, 0, 0, 0.7) url("../img/link.svg") 50% 50% no-repeat;
  background-size: 18px 18px;
  display: block;
  content: '';
  top: 0;
  opacity: 0;
  -webkit-transition: all 0.25s .1s ease-out;
  transition: all 0.25s .1s ease-out;
  -webkit-transform: scale(0.3);
          transform: scale(0.3);
  pointer-events: none;
}

.works-box-cont .item-thumbnail img {
  width: 110%;
  -webkit-transition: all 0.35s ease-out;
  transition: all 0.35s ease-out;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  position: absolute;
}

.works-box-cont .item-thumbnail.notshow img {
  width: 100%;
}

@media only screen and (min-width: 1281px) {
  .works-box-cont .item-thumbnail:not(.notshow):hover:after {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  .works-box-cont .item-thumbnail:not(.notshow):hover img {
    width: 100%;
  }
}

.works-box-cont .item__name {
  margin-top: 10px;
  font-size: 13px;
}

.works-box-cont .item__name img {
  height: 12px;
  width: auto;
}

.works-box-cont:after {
  clear: both;
  content: "";
  display: table;
}

@media only screen and (max-width: 1024px) {
  .works-box-cont .item {
    width: 23%;
    margin: 0 1% 20px;
  }
}

@media only screen and (max-width: 768px) {
  .works-box-cont .item {
    width: 31.3%;
    margin: 0 1% 20px;
  }
}

@media only screen and (max-width: 414px) {
  .works-tab li {
    font-size: 16px;
  }
  .works-box-cont .item {
    width: 46%;
    margin: 0 2% 20px;
  }
}

.detail {
  padding: 4vw;
}

.detail h3 img {
  height: 24px;
}

.detail-group {
  display: inline-block;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 3vh;
}

.detail-intro {
  width: 30%;
  font-size: 14px;
}

.detail-intro h5 {
  font-size: 16px;
  letter-spacing: 2px;
  margin: 0 0 10px 0;
}

.detail-intro__descript {
  position: relative;
  line-height: 2;
  margin-top: 30px;
}

.detail-intro__descript:after {
  display: block;
  content: '';
  position: absolute;
  top: -4px;
  left: 0;
  width: 80px;
  height: 1px;
  background-color: #a3a3a3;
}

.detail-intro__descript p {
  text-indent: 14px;
  padding: 0;
  margin: 0;
}

.detail-intro__descript a {
  color: #FF873E;
}

.detail-intro-tech ul {
  list-style: square;
  margin: 0;
  padding: 0;
  padding-left: 20px;
}

.detail-intro__back {
  background-color: #303030;
  display: table;
  border-radius: 3px;
  margin-top: 20px;
  cursor: pointer;
}

.detail-intro__back a {
  display: table;
  color: #fff;
  padding: 5px 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.detail-preview {
  width: 60%;
}

.detail-preview img {
  display: block;
  width: 100%;
  margin-bottom: 30px;
}

.detail-preview--half img {
  display: inline-block;
  width: 48%;
  margin-right: 1%;
}

@media only screen and (max-width: 768px) {
  .detail-group {
    display: block;
  }
  .detail-intro {
    width: 100%;
    margin: 0 0 30px;
    padding-bottom: 20px;
    border-bottom: 1px solid #a3a3a3;
  }
  .detail-preview {
    width: 100%;
  }
  .detail-preview--half img {
    display: block;
    width: 100%;
    margin-left: 0;
  }
}
/*# sourceMappingURL=inner.css.map */